*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: rgb(231, 231, 231); 
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/*<===================      LANDING SECTION      =======================================>*/
/*<===================      LANDING SECTION      =======================================>*/

.section-landing-background{
    background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
    background-size: 380% 260%;
    background-position: 22% 18%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-top: 20px;
}
.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height:950px;
    margin-bottom: 100px;
    width: 90vw;
    max-width: 1440px;
}

/*<===================      NAV - DESKTOP      =============>*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    height: auto;
    width: 100%;
    padding-top: 10px;
    font-size: 1rem;
}

nav a{
    text-decoration: none;
    color: white;
}

.nav-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link-logo{
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-link{
    margin-right:25px;
    font-weight: 400;
}

.nav-link-contact-button{
    display: flex;
    padding-left:7px;
    padding-right:7px;
    padding-top:7px;
    padding-bottom:7px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

.nav-link-container-back{
    margin-left: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link-container-back span{
    margin-right: 5px;
}

/*<===================      LANDING - CONTENT     ============================>*/

.landing-content-wrapper{
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing-heading{
    font-size: 3.7rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 10px;
}

.landing-text p{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style: none;
    color: rgb(125, 155, 201);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7;
    width: 75vw;
}

.section-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.landing-section-image{
    position: relative;
    display: flex;
    margin-top: 100px;
    width: 80vw;
    height: 750px;
    max-width: 800px;
    background-image: url(images/radamcode.png);
    background-size: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
}

/*<===================      ABOUT - SECTION      ===================================>*/
/*<===================      ABOUT - SECTION      ===================================>*/

.section-light-background{
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-about{
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 280px;
}

.text-box-container{
    width:470px;
    min-width: 300px;
    max-width: 470px;
}

.about-image-wrapper{
    display: flex;
    flex-direction: column;
}


h1 {
    background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.3rem;
    line-height: 1.25;
    letter-spacing: -.5px;
}

h2{
    color: rgb(19, 19, 19);
    font-size: 3.3rem;
    letter-spacing: -.5px;
    line-height: 1.1;
}

h4{
    margin-top: 35px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: -0.5px;
    color: rgb(100, 103, 126);
}


.about-image-box-desktop{
    justify-content: center;    
    width: auto;
}

.tiles-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}

.pancake-icon{
    position: absolute;
    display: block;
    width: auto;
    margin-top: 320px;
    margin-right: 400px;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}

.about-tiles-desktop {
    display: flex;
    width: 380px;
}

/*<===================    MOBILE   =====================>*/

.about-image-box-mobile{
    display: none;
}

.pancake-icon-mobile{
    display: none;
}

.about-tiles-mobile {
    display: none;
    width: 80vw;
    display: none;
}



/*<===================      PORTFOLIO - SECTION      ===================================>*/
/*<===================      PORTFOLIO - SECTION      ===================================>*/

.section-dark-background-portfolio{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)17%);
    background-size: 220% 175%;
    background-position:45% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 320px;
}

.h2-light-text{
    color: white;
}

.h4-light-text{
    color: rgb(130, 157, 196);
    font-weight: 300;
}

.portfolio-grid{
    display: grid;
    justify-content: center;
    margin-top: 19vh;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: 20vw 20vw 20vw;
    column-gap: 50px;
    grid-template-rows: 10rem;
}

.portfolio-grid-image{
    background-color: white;
    border-radius: 4px;
    height: 21vw;
    max-height: 240px;
    min-height: 200px;
    padding: 25px;
}


/*<===================      APPLICATIONS - SECTION      ===================================>*/
/*<===================      APPLICATIONS - SECTION      ===================================>*/

.section-dark-background-applications{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)20%);
    background-size: 420% 225%;
    background-position:77% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-applications{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 120px;
}

.grid-container{
    display: flex;
    justify-content: center;
}

.applications-grid{
    display: grid;
    justify-content: center;
    margin-top: 19vh;
    grid-template-columns: 75px 75px 75px 75px;
    column-gap: 12vw;
    grid-template-rows: 25vh 25vh 25vh;
}

.applications-grid-image{
    border-radius: 2px;
    width: 80px;
    height: 80px;
}


/*<===================      CONTACT - SECTION      ===================================>*/
/*<===================      CONTACT - SECTION      ===================================>*/

.section-container-contact{
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 480px;
}

.contact-wrapper-text{
    display: flex;
    flex-direction: column;
    width:35%;
}

.contact-wrapper-list{
    display: flex;
    flex-direction: column;
    width:65%;
}

.hola-box{
    width:46vw;
    min-width: 300px;
    max-width: 670px;
}

.contact-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin-top: 130px;
    margin-left:360px;
    background-color: white;
    border: rgb(167, 167, 167);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    list-style: none;
    padding:40px;
    justify-content: center;
    align-items: left;
    font-size: 1.2rem;
    filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
}

.contact-list a{
    display: flex;
    width: auto;
    flex-direction: row;
    text-decoration: none;
    color: rgb(100, 103, 126);
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-list img{
    width: 40px;
    vertical-align: middle;
    margin-right: 20px
}

/*<===================      FOOTER - SECTION      ===================================>*/
/*<===================      FOOTER - SECTION      ===================================>*/

.section-light-background-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: rgb(238, 238, 238);
}

.section-container-footer{
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    padding-top: 100px;
    margin-bottom: 110px;
    margin-left: 5vw;
    margin-right: 5vw;
    color: rgb(83, 87, 110);
}

.footer-col-logo{
    display: flex;
    align-items: center;
    width:300px;
    height: 100%;
}

h3{
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 1.7rem;
}

.footer-li-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}


.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-li-container ul{
    list-style: none;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-li-container li{
    padding-top: 5px;
    padding-bottom: 18px;
} 

.footer-social-icons{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}

.footer-social-icons li{
    margin-right: 25px;
}

.footer-social-icons-image{
    width: 28px;
    vertical-align: middle;
}

.footer-social-icons-image-gmail{
    margin-top: 2px;
    height: 24px;
    vertical-align: middle;
}

.footer-social-icons-image-discord{
    margin-top: 2px;
    height: 28px;
    padding: 0px;
    vertical-align: baseline;
}

.footer-base{
    display: flex;
    flex-direction: row;
    height: 70px;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: left;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-base-text{
    color: rgb(83, 87, 110);
    font-size: .8rem;
    margin-right: 30px;
}




/*<=================       1024PX      ==========================>*/

@media screen and (max-width: 1024px) {

            
    /*<===============      LANDING - SECTION - TABLET 1024    ===============================>*/
    /*<===============      LANDING - SECTION - TABLET 1024    ===============================>*/
    
    .section-landing-background{
        background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
        background-size: 380% 360%;
        background-position: 27% 30%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
        padding-top: 20px;
    }
    
    .section-container-landing{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
    }
    

    nav{
        padding-top: 0px;
    }

    .nav-link{
        display: flex;
    }

    .section-landing-background{
        background: radial-gradient( rgba(7, 63, 95, 0.952)10%, rgb(2, 6, 22)32%);
        background-size: 190% 260%;
        background-position: 7% 10%;
        display: flex;
        justify-content: center;
        width: 100vw;
            height: auto;
        padding-top: 20px;
    }

    .section-container-landing{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 90vw;
        max-width: 1440px;
    }

    .landing-content-wrapper{
            margin-top: 250px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .landing-heading{
            font-size: 3.4rem;
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .landing-text p{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        list-style: none;
        color: rgb(125, 155, 201);
            font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.7;
        width: 75vw;
    }
    
    .section-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .landing-section-image{
        position: relative;
            margin-top: 70px;
        width: 80vw;
        max-width: 800px;
            height: 700px;
        background-image: url(images/radamcode.png);
        background-size: cover;
        border-radius: 5px;
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
    }
    

    /*<===============      ABOUT - SECTION - TABLET 1024    ===============================>*/
    /*<===============      ABOUT - SECTION - TABLET 1024    ===============================>*/

    .section-light-background{
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-about{
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        min-height: 700px;
        width: 90vw;
        max-width: 1440px;
        justify-content: top;
        margin-top: 120px;
        margin-bottom: 400px;
    }

    .text-box-container{
        display: flex;
        flex-direction: column;
        width:90vw;
    }

    h1 {
        background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            font-size: 2.8rem;
        line-height: 1.25;
        letter-spacing: -.5px;
        width: 90vw;
    }

    h2{
        color: rgb(19, 19, 19);
            font-size: 2.8rem;
        letter-spacing: -.5px;
        line-height: 1.1;
        width: 470px;
    }

    h4{
        margin-top: 35px;
            font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.5px;
        color: rgb(100, 103, 126);
        width: 370px;
    }


    .about-image-box-desktop{
        position: static;
        display: flex;
        justify-content: flex-end;    
        width: auto;
    }
    
    .tiles-desktop {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-right: -20px;
            margin-top: 270px;
    }
    
    .about-tiles-desktop {
        width: 400px;
    }

    .pancake-icon{
        position: absolute;
        display: flex;
        width: auto;
        margin-top: 360px;
        margin-right: 43vw;
        font-size: 10rem;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .about-image-box-mobile{
        display: none;
        justify-content: left;    
    }

    .pancake-icon-mobile{
        display: none;
        font-size: 10rem;
        margin-top: 130px;
        margin-left: 20px;
    }

        


    /*<===========      PORTFOLIO - SECTION -TABLET  1024    ===================================>*/
    /*<===========      PORTFOLIO - SECTION -TABLET  1024    ===================================>*/

    .section-dark-background-portfolio{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
        background-size: 220% 165%;
        background-position:70% 0%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-portfolio{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: center;
        margin-top: 170px;
        margin-bottom: 15vh;
    }

    .h2-light-text{
        color: white;
    }

    .h4-light-text{
        color: rgb(130, 157, 196);
        font-weight: 300;
    }

    .portfolio-grid{
        display: grid;
        justify-content: center;
        column-gap: 4vw;
        grid-template-columns: 26vw 26vw 26vw;
        grid-template-rows: 22vw;
        margin-top: 10vw;
    }

    .portfolio-grid-image{
        background-color: white;
        border-radius: 4px;
        width:26vw;
        height:26vw;
    }




    /*<===================      APPLICATIONS - SECTION - TABLET  1024    ===========================>*/
    /*<===================      APPLICATIONS - SECTION - TABLET  1024    ===========================>*/

    .section-dark-background-applications{
            background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
            background-size: 420% 225%;
            background-position:31% 15%;
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-applications{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 120px;
            margin-bottom: 120px;
    }

    .grid-container{
        display: flex;;
        justify-content: center;
    }


    .applications-grid{
        display: grid;
        justify-content: center;
        align-items: left;
            margin-top: 140px;
            grid-template-columns: 65px 65px 65px;
            column-gap: 17vw;
            grid-template-rows: 20vh 20vh 20vh 20vh;
    }

    .applications-grid-image{
        border-radius: 2px;
            width: 65px;
            height: 65px;
    }


    /*<===============      CONTACT - SECTION - TABLET  1024   ===============================>*/
    /*<===============      CONTACT - SECTION - TABLET  1024   ===============================>*/

    .section-container-contact{
        position: relative;
        display: flex;
            flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 140px;
            margin-bottom: 200px;
    }

    .contact-wrapper-text{
        display: flex;
        flex-direction: column;
        width:35%;
    }
    
    .contact-wrapper-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .hola-box{
        width:46vw;
        min-width: 300px;
        max-width: 670px;
    }

    .contact-list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 450px;
        margin-top: 5vh;
        margin-left:40vw;
        background-color: white;
        border: rgb(167, 167, 167);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        list-style: none;
        padding:30px;
        justify-content: center;
        align-items: left;
        font-size: 1.2rem;
        filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
    }

    .contact-list a{
        display: flex;
        width: auto;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgb(100, 103, 126);
        line-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contact-list img{
        width: 38px;
        vertical-align: middle;
        margin-right: 25px
    }


    /*<===================      FOOTER - SECTION - TABLET  1024    ===================================>*/
    /*<===================      FOOTER - SECTION - TABLET  1024    ===================================>*/

    .section-light-background-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: auto;
        background-color: rgb(238, 238, 238);
    }

    .section-container-footer{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
            padding-top: 70px;
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        color: rgb(83, 87, 110);
    }

    .footer-col-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    h3{
        color: rgb(19, 19, 19);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .footer-li-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-li-container ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0vw;
        padding-right: 0vw;
        align-items: center;
    }

    .footer-li-container li{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 18px;
    } 

    .footer-social-icons{
        margin-top: 35px;
    }

    .footer-social-icons li{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer-social-icons-image{
        height: 28px;
        padding: 2px;
        vertical-align: middle;
    }

    .footer-social-icons-image-gmail{
        margin-top: 0px;
        height: 28px;
        padding: 3px;
        vertical-align: baseline;
    }

    .footer-social-icons-image-discord{
        margin-top: 2px;
        height: 28px;
        padding: 0px;
        vertical-align: baseline;
    }

    /*<=================       FOOTER BASE TABLET  1024    ==========================>*/

    .footer-base{
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: rgb(231, 231, 231);
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .footer-base-text{
        color: rgb(83, 87, 110);
        font-size: .8rem;
        margin-right: 10px;
    }

}
        

/*<=================       768PX      ==========================>*/

@media screen and (max-width: 768px) {

            
    /*<===============      LANDING - SECTION - 768     ===============================>*/
    /*<===============      LANDING - SECTION - 768     ===============================>*/
    
    .section-landing-background{
        background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
        background-size: 380% 360%;
        background-position: 27% 30%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
        min-height: 800px;
        padding-top: 20px;
    }
    
    .section-container-landing{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 90vw;
        max-width: 1440px;
    }
    

    nav{
        padding-top: 0px;
    }

    .nav-link{
        display: flex;
    }

    .landing-content-wrapper{
            margin-top: 250px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .landing-heading{
            font-size: 3.4rem;
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .landing-text p{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        list-style: none;
        color: rgb(125, 155, 201);
            font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.7;
        width: 75vw;
    }
    
    .section-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .landing-section-image{
        position: relative;
            margin-top: 70px;
        width: 80vw;
        max-width: 800px;
            height: 360px;
        background-image: url(images/radamcode.png);
        background-size: cover;
        border-radius: 5px;
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
    }
    

    /*<===============      ABOUT - SECTION - 768     ===============================>*/
    /*<===============      ABOUT - SECTION - 768     ===============================>*/

    .section-light-background{
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: 1300px;
    }

    .section-container-about{
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: top;
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .text-box-container{
        display: flex;
        flex-direction: column;
        width:90vw;
    }

    h1 {
        background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            font-size: 2.8rem;
        line-height: 1.25;
        letter-spacing: -.5px;
        width: 70vw;
    }

    h2{
        color: rgb(19, 19, 19);
            font-size: 2.8rem;
        letter-spacing: -.5px;
        line-height: 1.1;
        width: 350px;
    }

    h4{
        margin-top: 35px;
            font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.5px;
        color: rgb(100, 103, 126);
        width: 330px;
    }


    .about-image-box-desktop{
        position: static;
        display: flex;
        justify-content: flex-end;    
        width: auto;
    }
    
    .tiles-desktop {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-right: -20px;
            margin-top: 450px;
    }
    
    .about-tiles-desktop {
        width: 400px;
    }

    .pancake-icon{
        position: absolute;
        display: flex;
        width: auto;
        margin-top: 300px;
        margin-right: 43vw;
        font-size: 10rem;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .about-image-box-mobile{
        display: none;
        justify-content: left;    
    }

    .pancake-icon-mobile{
        display: none;
        font-size: 10rem;
        margin-top: 130px;
        margin-left: 20px;
    }

        


    /*<===========      PORTFOLIO - SECTION -768      ===================================>*/
    /*<===========      PORTFOLIO - SECTION -768      ===================================>*/

    .section-dark-background-portfolio{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
        background-size: 380% 225%;
        background-position:74% 45%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-portfolio{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 10vh;
    }

    .h2-light-text{
        color: white;
    }

    .h4-light-text{
        color: rgb(130, 157, 196);
        font-weight: 300;
    }

    .portfolio-grid{
        display: grid;
        justify-content: center;
        row-gap: 15vw;
        grid-template-columns: 260px;
        grid-template-rows: 260px 260px 260px;
        margin-top: 150px;
    }

    .portfolio-grid-image{
        background-color: white;
        border-radius: 4px;
        width:260px;
        height:260px;
    }




    /*<===================      APPLICATIONS - SECTION - TABLET      ===========================>*/
    /*<===================      APPLICATIONS - SECTION - TABLET      ===========================>*/

    .section-dark-background-applications{
            background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
            background-size: 420% 275%;
            background-position:38% 20%;
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-applications{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 120px;
            margin-bottom: 0vh;
    }

    .grid-container{
        display: flex;;
        justify-content: center;
    }


    .applications-grid{
        display: grid;
        justify-content: center;
        align-items: center;
            margin-top: 100px;
            grid-template-columns: 65px 65px 65px;
            column-gap: 20vw;
            row-gap: 10vh;
            grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
    }

    .applications-grid-image{
        border-radius: 2px;
            width: 65px;
            height: 65px;
    }


    /*<===============      CONTACT - SECTION - 768     ===============================>*/
    /*<===============      CONTACT - SECTION - 768     ===============================>*/

    .section-container-contact{
        position: relative;
        display: flex;
            flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-around;
            margin-top: 40px;
            margin-bottom: 240px;
    }

    .contact-wrapper-text{
        display: flex;
        flex-direction: column;
        width:35%;
    }
    
    .contact-wrapper-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .hola-box{
        width:46vw;
        min-width: 300px;
        max-width: 670px;
    }

    .contact-list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 450px;
        margin-top: -7vh;
        margin-left: 30vw;
        background-color: white;
        border: rgb(167, 167, 167);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        list-style: none;
        padding:30px;
        justify-content: top;
        align-items: left;
        font-size: 1.2rem;
        filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
    }

    .contact-list a{
        display: flex;
        width: auto;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgb(100, 103, 126);
        line-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contact-list img{
        width: 38px;
        vertical-align: middle;
        margin-right: 25px
    }


    /*<===================      FOOTER - SECTION - 768      ===================================>*/
    /*<===================      FOOTER - SECTION - 768      ===================================>*/

    .section-light-background-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: auto;
        background-color: rgb(238, 238, 238);
    }

    .section-container-footer{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
            padding-top: 70px;
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        color: rgb(83, 87, 110);
    }

    .footer-col-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    h3{
        color: rgb(19, 19, 19);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .footer-li-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-li-container ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0vw;
        padding-right: 0vw;
        align-items: center;
    }

    .footer-li-container li{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 18px;
    } 

    .footer-social-icons{
        margin-top: 35px;
    }

    .footer-social-icons li{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer-social-icons-image{
        height: 28px;
        padding: 2px;
        vertical-align: middle;
    }

    .footer-social-icons-image-gmail{
        margin-top: 0px;
        height: 28px;
        padding: 3px;
        vertical-align: baseline;
    }

    .footer-social-icons-image-discord{
        margin-top: 2px;
        height: 28px;
        padding: 0px;
        vertical-align: baseline;
    }

    /*<=================       FOOTER BASE TABLET      ==========================>*/

    .footer-base{
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: rgb(231, 231, 231);
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .footer-base-text{
        color: rgb(83, 87, 110);
        font-size: .8rem;
        margin-right: 10px;
    }

}

/*<=================       375PX      ==========================>*/

@media screen and (max-width: 375px) {

        
/*<===============      LANDING - SECTION - MOBILE     ===============================>*/
/*<===============      LANDING - SECTION - MOBILE     ===============================>*/

.section-landing-background{
    background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
    background-size: 380% 360%;
    background-position: 27% 30%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-top: 20px;
}

.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 90vw;
    margin-bottom: 100px;
    max-width: 1440px;
}

nav{
    padding-top: 0px;
}

.nav-link{
    display: none;
}

.section-landing-background{
    background: radial-gradient( rgba(7, 63, 95, 0.952)10%, rgb(2, 6, 22)32%);
    background-size: 190% 260%;
    background-position: 7% 10%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}
.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 90vw;
    max-width: 1440px;
}

.landing-content-wrapper{
        margin-top: 20vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing-heading{
        font-size: 3rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 15px;
}

.landing-text p{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style: none;
    color: rgb(125, 155, 201);
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    width: 75vw;
    letter-spacing: -0.5px;
}

.section-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.landing-section-image{
    position: relative;
    display: flex;
    margin-top: 40px;
    width: 80vw;
    height: 500px;
    max-width: 800px;
    background-image: url(images/radamcode.png);
    background-size: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
}

/*<===============      ABOUT - SECTION - MOBILE     ===============================>*/
/*<===============      ABOUT - SECTION - MOBILE     ===============================>*/

.section-light-background{
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-about{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: center;
    margin-top: 15vh;
    margin-bottom: 80px;
}

.text-box-container{
    display: flex;
    flex-direction: column;
    width:90vw;
}

h1 {
    background: linear-gradient(to right, #0941aa 0%, #09b1db 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -.5px;
    width: 90vw;
}

h2{
    color: rgb(19, 19, 19);
        font-size: 2.4rem;
    letter-spacing: -.5px;
    line-height: 1.1;
    width: 90vw;
}

h4{
    margin-top: 35px;
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: rgb(100, 103, 126);
    width: 270px;
}


.about-image-box-desktop{
    display: none;
}

.tiles-desktop {
    display: none;
}

.about-tiles-desktop {
    display: none;
}

.tiles-mobile {
    display: none;
}

.pancake-icon{
    display: none;
}

.about-image-box-mobile{
    display: flex;
    justify-content: left;    
}

.pancake-icon-mobile{
    display: flex;
    font-size: 7rem;
    margin-top: 60px;
    margin-left: 20px;
}

    


/*<===========      PORTFOLIO - SECTION      ===================================>*/
/*<===========      PORTFOLIO - SECTION      ===================================>*/

.section-dark-background-portfolio{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
    background-size: 420% 125%;
    background-position:55% 05%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 370px;
}

.h2-light-text{
    color: white;
}

.h4-light-text{
    color: rgb(130, 157, 196);
    font-weight: 500;
}

.portfolio-grid{
    display: grid;
    justify-content: center;
    row-gap: 260px;
    grid-template-columns: 250px;
    grid-template-rows: 50px 50px 50px;
    margin-top: 140px;
}

.portfolio-grid-image{
    background-color: white;
    border-radius: 4px;
    width:250px;
    height:250px;
}




/*<===================      APPLICATIONS - SECTION      ===========================>*/
/*<===================      APPLICATIONS - SECTION      ===========================>*/

.section-dark-background-applications{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
        background-size: 420% 225%;
        background-position:31% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-applications{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 220px;
}

.grid-container{
    display: flex;
    justify-content: center;
}


.applications-grid{
    display: grid;
    justify-content: center;
        margin-top: 140px;
        grid-template-columns: 65px 65px;
        column-gap: 20vw;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
}

.applications-grid-image{
    border-radius: 2px;
        width: 55px;
        height: 55px;
}


/*<===============      CONTACT - SECTION - MOBILE     ===============================>*/
/*<===============      CONTACT - SECTION - MOBILE     ===============================>*/

.section-container-contact{
    position: relative;
    display: flex;
        flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
        margin-top: 15vh;
        margin-bottom: 30vh;
}

.contact-wrapper-text{
    display: flex;
    flex-direction: column;
    width:35%;
}

.contact-wrapper-list{
    display: flex;
    flex-direction: column;
    width:100%;
}

.hola-box{
    width:46vw;
    min-width: 300px;
    max-width: 670px;
}

.contact-list{
    position: static;
        display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: auto;
            margin-top: 90px;
        margin-left:0px;
        margin-right:0px;
    background-color: white;
    border: rgb(167, 167, 167);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    list-style: none;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
}

.contact-list a{
    display: flex;
    width: auto;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(100, 103, 126);
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-list img{
    width: 38px;
    vertical-align: middle;
    margin-right: 25px
}


/*<===================      FOOTER - SECTION      ===================================>*/
/*<===================      FOOTER - SECTION      ===================================>*/

.section-light-background-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: rgb(238, 238, 238);
}

.section-container-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
        padding-top: 70px;
    margin-bottom: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    color: rgb(83, 87, 110);
}

.footer-col-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    margin-bottom: 30px;
}

h3{
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 1.5rem;
}

.footer-li-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-li-container ul{
    list-style: none;
    padding-left: 0vw;
    padding-right: 0vw;
}

.footer-li-container li{
    padding-top: 5px;
    padding-bottom: 18px;
} 

.footer-social-icons{
    display: inline-flex;
    flex-direction: row;
    margin-top: 35px;
}

.footer-social-icons li{
    margin-right: 25px;
}

.footer-social-icons-image{
    width: 28px;
    vertical-align: middle;
}

.footer-social-icons-image-gmail{
    margin-top: 2px;
    height: 24px;
    vertical-align: middle;
}

.footer-social-icons-image-discord{
    margin-top: 2px;
    height: 28px;
    padding: 0px;
    vertical-align: baseline;
}

/*<=================       FOOTER BASE      ==========================>*/

.footer-base{
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: space-around;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-base-text{
    color: rgb(83, 87, 110);
    font-size: .8rem;
    margin-right: 0px;
}

}