*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background-color: rgb(231, 231, 231); 
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

/*<===================      LANDING SECTION      =======================================>*/
/*<===================      LANDING SECTION      =======================================>*/

.section-landing-background{
    background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
    background-size: 380% 260%;
    background-position: 22% 18%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-top: 20px;
}
.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height:900px;
    margin-bottom: 100px;
    width: 90vw;
    max-width: 1440px;
}

/*<===================      NAV - DESKTOP      =============>*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    height: auto;
    width: 100%;
    padding-top: 10px;
    font-size: 1rem;
}

nav a{
    text-decoration: none;
    color: white;
}

.nav-link-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link-logo{
    font-size: 1.2rem;
    font-weight: 400;
}

.nav-link{
    margin-right:25px;
    font-weight: 400;
}

.nav-link-contact-button{
    display: flex;
    padding-left:7px;
    padding-right:7px;
    padding-top:7px;
    padding-bottom:7px;
    font-weight: 400;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
}

.nav-link-case-study-back{
    padding-left: -30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link-case-study-back span{
    margin-right: 10px;
}

/*<===================      LANDING - CONTENT     ============================>*/

.landing-content-wrapper{
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing-heading{
    font-size: 3.7rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 10px;
}

.landing-text p{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style: none;
    color: rgb(125, 155, 201);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7;
    width: 75vw;
}

.section-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
}

.landing-section-image{
    position: relative;
    display: flex;
    margin-top: 100px;
    width: 80vw;
    height: 750px;
    max-width: 800px;
    background-image: url(images/radamcode.png);
    background-size: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
}

/*<===================      ABOUT - SECTION      ===================================>*/
/*<===================      ABOUT - SECTION      ===================================>*/

.section-light-background{
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-about{
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 180px;
    margin-bottom: 280px;
}

.text-box-container{
    width:470px;
    min-width: 300px;
    max-width: 470px;
}

.about-image-wrapper{
    display: flex;
    flex-direction: column;
}


h1 {
    background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.3rem;
    line-height: 1.25;
    letter-spacing: -.5px;
    width: 340px;
}

h2{
    color: rgb(19, 19, 19);
    font-size: 3.3rem;
    letter-spacing: -.5px;
    line-height: 1.1;
}

h4{
    margin-top: 35px;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: -0.5px;
    color: rgb(100, 103, 126);
}


.about-image-box-desktop{
    justify-content: center;    
    width: auto;
}

.tiles-desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
}

.pancake-icon{
    position: absolute;
    display: block;
    width: auto;
    margin-top: 320px;
    margin-right: 400px;
    font-size: 10rem;
    justify-content: center;
    align-items: center;
}

.about-tiles-desktop {
    display: flex;
    width: 380px;
}

/*<===================    MOBILE   =====================>*/

.about-image-box-mobile{
    display: none;
}

.pancake-icon-mobile{
    display: none;
}

.about-tiles-mobile {
    display: none;
    width: 80vw;
    display: none;
}



/*<===================      PORTFOLIO - SECTION      ===================================>*/
/*<===================      PORTFOLIO - SECTION      ===================================>*/

.section-dark-background-portfolio{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)17%);
    background-size: 220% 175%;
    background-position:45% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 320px;
}

.h2-light-text{
    color: white;
}

.h4-light-text{
    color: rgb(130, 157, 196);
    font-weight: 300;
}

.portfolio-grid{
    display: grid;
    justify-content: center;
    margin-top: 19vh;
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: 25% 25% 25%;
    column-gap: 1vw;
    grid-template-rows: 10rem;
}

.portfolio-grid-image{
    background-color: white;
    border-radius: 4px;
    height: 19vw;
    max-height: 240px;
    min-height: 180px;
    padding: 25px;
}


/*<===================      APPLICATIONS - SECTION      ===================================>*/
/*<===================      APPLICATIONS - SECTION      ===================================>*/

.section-dark-background-applications{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)20%);
    background-size: 420% 225%;
    background-position:77% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-applications{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 120px;
}

.grid-container{
    display: flex;
    justify-content: center;
}

.applications-grid{
    display: grid;
    justify-content: center;
    margin-top: 19vh;
    grid-template-columns: 75px 75px 75px 75px;
    column-gap: 10vw;
    grid-template-rows: 27vh 27vh 27vh;
}

.applications-grid-image{
    border-radius: 2px;
    width: 80px;
    height: 80px;
}


/*<===================      CONTACT - SECTION      ===================================>*/
/*<===================      CONTACT - SECTION      ===================================>*/

.section-container-contact{
    position: relative;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
    margin-top: 220px;
    margin-bottom: 480px;
}

.contact-wrapper-text{
    display: flex;
    flex-direction: column;
    width:35%;
}

.contact-wrapper-list{
    display: flex;
    flex-direction: column;
    width:65%;
}

.hola-box{
    width:46vw;
    min-width: 300px;
    max-width: 670px;
}

.contact-list{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin-top: 130px;
    margin-left:15vw;
    background-color: white;
    border: rgb(167, 167, 167);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    list-style: none;
    padding:40px;
    justify-content: center;
    align-items: left;
    font-size: 1.2rem;
    filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
}

.contact-list a{
    display: flex;
    width: auto;
    flex-direction: row;
    text-decoration: none;
    color: rgb(100, 103, 126);
    line-height: 40px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-list img{
    width: 40px;
    vertical-align: middle;
    margin-right: 20px
}

/*<===================      FOOTER - SECTION      ===================================>*/
/*<===================      FOOTER - SECTION      ===================================>*/

.section-light-background-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    background-color: rgb(238, 238, 238);
}

.section-container-footer{
    position: static;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    padding-top: 100px;
    margin-bottom: 110px;
    margin-left: 5vw;
    margin-right: 5vw;
    color: rgb(83, 87, 110);
}

.footer-col-logo{
    display: flex;
    align-items: center;
    width:300px;
    height: 100%;
}

h3{
    color: rgb(19, 19, 19);
    font-weight: 700;
    font-size: 1.7rem;
}

.footer-li-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.footer-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-li-container ul{
    list-style: none;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-li-container li{
    padding-top: 5px;
    padding-bottom: 18px;
} 

.footer-social-icons{
    display: inline-flex;
    flex-direction: row;
    list-style: none;
}

.footer-social-icons li{
    margin-right: 25px;
}

.footer-social-icons-image{
    width: 28px;
    vertical-align: middle;
}

.footer-social-icons-image-gmail{
    margin-top: 2px;
    height: 24px;
    vertical-align: middle;
}

.footer-social-icons-image-discord{
    margin-top: 2px;
    height: 28px;
    padding: 0px;
    vertical-align: baseline;
}

.footer-base{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    background-color: rgb(231, 231, 231);
    align-items: center;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-base-text{
    color: rgb(83, 87, 110);
    font-size: .8rem;
    margin-right: 30px;
}









                /*<==========     CASE STUDIES - DESKTOP      ==========>*/

                .case-study-header{
                    background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
                    background-size: 380% 260%;
                    background-position: 22% 18%;
                    display: flex;
                    justify-content: center;
                    width: 100vw;
                    height: auto;
                    padding-top: 20px;
                }

                .section-container-landing-case-study{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    width: 90vw;
                    max-width: 1440px;
                    margin-bottom: 100px;
                }        

                /*<=====  IMAGES  =================>*/

                .vert-image-rmit-logo,.vert-image-walley-logo, .vert-image-radam23-logo{
                    width:100%;
                    background-image: url(images/rmitlogo.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 230px;
                    background-color: white;
                }

               
                .vert-image-walley-logo{
                    background-image: url(images/walleylogo.svg);
                }

                .vert-image-radam23-logo{
                    background-image: url(images/radam23logo.svg);
                }

                /*<=====  HORIZONTAL IMAGES  =======>*/

                .rmit-horiz-image-hypothesis, .rmit-horiz-image-research, .rmit-horiz-image-design, .rmit-horiz-image-draft,.walley-horiz-image-requirements,.radam23-horiz-image-my-requirements{
                    width:100%;
                    height: 500px;
                    background-image: url(images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 35%;
                    background-size: cover;
                    background-color: white;
                }

                .rmit-horiz-image-research{
                    background-image: url(images/annie-spratt-sggw4-qDD54-unsplash.jpg);
                }

                .rmit-horiz-image-design{
                    background-image: url(images/imani-bahati-4_QbgDuj8z4-unsplash.jpg);
                }

                .rmit-horiz-image-about{
                    width:100%;
                    height: 500px;
                    background-image: url(images/rmitlogo.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 230px;
                    background-color: white;
                }

                .walley-horiz-image-about{
                    width:100%;
                    height: 500px;
                    background-image: url(images/walleylogo.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 230px;
                    background-color: white;
                }

                .radam23-horiz-image-about{
                    width:100%;
                    height: 500px;
                    background-image: url(images/radam23logo.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 230px;
                    background-color: white;
                }

                .radam23-horiz-image-about{
                    width:100%;
                    height: 500px;
                    background-image: url(images/radam23logo.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 230px;
                    background-color: white;
                }

                .rmit-horiz-image-draft{
                    background-image: url(images/joshua-ness-9iqqFZ7OuwY-unsplash.jpg);
                    background-position: 50% 5%;
                }

                .walley-horiz-image-requirements{
                    background-image: url(images/ergita-sela-zdLRWI_pK_0-unsplash.jpg);
                    filter: brightness(90%) contrast(155%) saturate(0%);
                    background-position: 50% 38%;
                }

                .radam23-horiz-image-my-requirements{
                    background-image: url(images/bady-abbas-hxi_yRxODNc-unsplash.jpg);
                    filter: brightness(90%) contrast(135%) saturate(0%);
                    background-position: 50% 65%;
                }

                .walley-horiz-image-users{
                    width:100%;
                    height: 100vh;
                    background-image: url(images/EDITED\ victor-xok-BHNVH_Ov9P8-unsplash\ 2.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: cover;
                    background-color: white;
                }
                

                /*<=====  VERTICAL IMAGES  =======>*/

                .rmit-vert-image-synthesis{
                    width:100%;
                    background-image: url(images/gabriele-ribeiro-1razH7iMbQo-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 65%;
                    background-size: cover;
                    background-color: white;
                }

                .rmit-vert-image-prototype{
                    display: flex;
                    width: 70%;
                    justify-content: center;
                    align-items: center;
                    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)30%);
                    background-size: 320% 340%;
                    background-position: 25% 15%;
                }
                .rmit-vert-image-prototype img{
                    width:80%;
                    filter: drop-shadow(15px 25px 20px rgba(38, 48, 73, 0.459));
                    border-radius: 5px;
                }

                .walley-vert-image-users{
                    width:100%;
                    height: 100vh;
                    background-image: url(images/EDITED\ victor-xok-BHNVH_Ov9P8-unsplash\ 2.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 65%;
                    background-size: cover;
                    background-color: white;
                }

                .walley-horiz-image-moodboard{
                    width:100%;
                    height: 60vh;
                    background-image: url(images/moodboardlrg.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 90%;
                    overflow-x: scroll;
                    background-color: rgb(66, 66, 66);
                }

                .walley-horiz-image-userflow{
                    width:100%;
                    height: 500px;
                    background-image: url(images/Userflow.png);
                    background-repeat: no-repeat;
                    background-position: top right;
                    background-size: 90%;
                    background-color: rgb(214, 214, 214);
                }

                .walley-horiz-image-userflow-mobile{
                    width:100%;
                    height: 500px;
                    background-image: url(images/Userflow.png);
                    background-repeat: no-repeat;
                    background-position: 2% 100%;
                    background-size: 350%;
                    background-color: rgb(214, 214, 214);
                }

                .walley-horiz-image-ideation{
                    width:100%;
                    height: 500px;
                    background-image: url(images/cristian-escobar-abkEAOjnY0s-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-color: rgb(214, 214, 214);
                }

                .walley-horiz-image-ideation-mobile{
                    width:100%;
                    height: 500px;
                    background-image: url(images/cristian-escobar-abkEAOjnY0s-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    background-color: rgb(214, 214, 214);
                }

                .walley-vert-image-prototype{
                    display: flex;
                    width: 70%;
                    justify-content: center;
                    align-items: center;
                    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)30%);
                    background-size: 320% 340%;
                    background-position: 25% 15%;
                }
                .walley-vert-image-prototype img{
                    height:740px;
                    filter: drop-shadow(15px 25px 20px rgba(38, 48, 73, 0.459));
                    border-radius: 5px;
                }



                /*<=====  SECTION HEADINGS =======>*/

                .portfolio-pre-heading-sml, .portfolio-pre-heading-sml-dark{
                    color: rgb(131, 131, 131);
                    font-size: .9rem;
                    letter-spacing: .5px;
                    line-height: 1.7;
                    margin-bottom: 6px;
                }

                .portfolio-main-heading-lrg, .portfolio-main-heading-lrg-dark, .portfolio-main-heading-lrg-wd{
                    color: rgb(20, 20, 20);
                    font-size: 1.8rem;
                    letter-spacing: .5px;
                    line-height: 1.4;
                    padding-top: 0px;
                    padding-right: 20px;
                    padding-bottom: 10px;
                }

                .portfolio-pre-heading-sml-dark{
                    color: rgb(116, 125, 141);
                }

                .portfolio-main-heading-lrg-dark{
                    color: rgb(207, 213, 223);
                    font-weight: 300;
                }


                /*<=====  VERTICAL SECTION =======>*/

                .portfolio-section-vert,.portfolio-section-vert-portfolio{
                    display: flex;
                    flex-direction: row;
                    height: auto;
                    min-height:auto;
                    width: 100%;
                    min-width: 500px;
                    background-color:rgb(231, 231, 231);
                }

                .portfolio-section-vert-portfolio{
                    height: 105vh;
                }

                .portfolio-vert-container, .portfolio-vert-container-dark, .portfolio-vert-container-wide{
                    display: flex;
                    flex-direction: column;
                    justify-content: top;
                    width: 30%;
                    min-width: 420px;
                    height: 100%;
                    padding: 80px;
                    background-color: rgb(233, 233, 233);
                }

                .portfolio-vert-container-wide{
                    min-width: 420px;
                }

                .portfolio-vert-container-dark{
                    background-color:rgb(9, 13, 29);
                }

                .text-space{
                    padding-left: 12px;
                }

                .portfolio-vert-textwrap-1, .portfolio-vert-textwrap-2{
                    color: rgb(20, 20, 20);
                    font-size: 1rem;
                    letter-spacing: .5px;
                    max-width: 300px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }

                .portfolio-vert-textwrap-2{
                    padding-top:80px;
                }

                .portfolio-content-text,.portfolio-content-text-2,.portfolio-content-text-dark{
                    line-height: 1.7;
                    letter-spacing: .5px;
                    padding-top: 15px;
                    padding-bottom: 10px;
                }

                .portfolio-content-text-dark{
                    color: rgb(232, 235, 241);
                    font-weight: 300;
                }

                .portfolio-content-list-padding{
                    color: rgb(20, 20, 20);
                    font-size: 1rem;
                    line-height: 1.7;
                    letter-spacing: .5px;
                    font-size: 1rem;
                    padding-top: 15px;
                    padding-left: 17px;
                    padding-bottom: 10px;
                }

                .portfolio-content-list-padding li{
                    padding-top: 5px;
                    padding-bottom: 5px;
                }



                /*<=====  HORIZONTAL SECTION =======>*/

                .portfolio-section-horiz{
                    display: flex;
                    flex-direction: column;
                    height:auto;
                    width: 100%;
                    background-color:rgb(47, 61, 83);
                }

                .portfolio-section-horiz-mobile{
                    display: none;
                    flex-direction: column;
                    height:auto;
                    width: 100%;
                    background-color:rgb(47, 61, 83);
                }

                .portfolio-horiz-content{
                    display: flex;
                    align-items: top;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;
                    min-width: 400px;
                    height: auto;
                    padding: 80px;
                    background-color: rgb(233, 233, 233);   
                }

                .portfolio-horiz-content-mobile{
                    display: flex;
                    align-items: top;
                    flex-direction: column;
                    justify-content: space-around;
                    width: 100%;
                    min-width: 400px;
                    height: auto;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    background-color: rgb(233, 233, 233);   
                }

                .portfolio-horiz-content-col-1{
                    display: flex;
                    flex-direction: column;
                    width:20%;
                    justify-content: left;
                    min-width: 150px;
                }

                .portfolio-horiz-content-col-1-mobile{
                    display: block;
                    justify-content: left;
                    min-width: 150px;
                    margin-bottom: 30px;
                }

                .portfolio-horiz-content-col-2,.portfolio-horiz-content-col-3{
                    width:100%;
                    max-width: 450px;
                    letter-spacing: .5px;
                    line-height: 1.7;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                .portfolio-horiz-content-col-2-mobile,.portfolio-horiz-content-col-3-mobile{
                    width:100%;
                    max-width: 450px;
                    letter-spacing: .5px;
                    line-height: 1.7;
                    padding-left: 5px;
                    padding-right: 5px;
                }

                /*<===== RADAM23 IMAGES  =======>*/

                .rmit-vert-image-the-website{
                    width:100%;
                    height: 100vh;
                    background-image: url(images/greg-rakozy-oMpAz-DN-9I-unsplash.jpg);
                    background-repeat: no-repeat;
                    background-position: 50% 65%;
                    background-size: cover;
                    background-color: white;
                }

                .radam23-horiz-image-moodboard{
                    width:100%;
                    height: 500px;
                    background-image: url(images/radam23-moodboard.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 65%;
                    background-color: rgb(193, 194, 196);
                }

                .radam23-horiz-image-moodboard-mobile{
                    width:100%;
                    height: 500px;
                    background-image: url(images/radam23-moodboard.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 95%;
                    background-color: rgb(193, 194, 196);
                }

                .radam23-horiz-image-designing{
                    width:100%;
                    height: 500px;
                    background-image: url(images/Userflow.png);
                    background-repeat: no-repeat;
                    background-position: 50% 64%;
                    background-size: cover;
                    background-color: rgb(219, 219, 219);
                }

                .radam23-horiz-image-coding{
                    width:100%;
                    height: 500px;
                    background-image: url(images/coding-image.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 45%;
                    background-color: rgb(193, 194, 196);
                }

                .radam23-horiz-image-coding-mobile{
                    width:100%;
                    height: 500px;
                    background-image: url(images/coding-image.svg);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 85%;
                    background-color: rgb(193, 194, 196);
                }

                .radam23-vert-image-prototype{
                    display: flex;
                    width: 70%;
                    justify-content: center;
                    align-items: center;
                    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)30%);
                    background-size: 240% 160%;
                    background-position: 45% 45%;
                }
                .radam23-vert-image-prototype img{
                    width:80%;
                    border-radius: 5px;
                }






/*<=================       1024PX      ==========================>*/

@media screen and (max-width: 1024px) {

    .portfolio-horiz-content-mobile{
        display: flex;
        align-items: top;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-width: auto;
        height: auto;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: rgb(233, 233, 233);   
    }

    .portfolio-section-vert{
        display: none;
    }

    .portfolio-section-horiz{
        display: none;
    }

    .portfolio-section-horiz-mobile{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        background-color:rgb(47, 61, 83);
    }

    .portfolio-horiz-content-col-1-mobile{
        display: block;
        justify-content: left;
        width: 75vw;
        margin-bottom: 30px;
    }

    .portfolio-horiz-content-col-2-mobile, .portfolio-horiz-content-col-3-mobile{
        width: 75vw;
        max-width: 100%;
    }

    .portfolio-section-vert-portfolio{
        display: none;
    }

    .portfolio-horiz-content-mobile-dark{
        display: flex;
        align-items: top;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        min-width: auto;
        height: auto;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color:rgb(9, 13, 29);
    }

    .rmit-vert-image-prototype-mobile{
        display: flex;
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)30%);
        background-size: 320% 340%;
        background-position: 25% 15%;
    }
    .rmit-vert-image-prototype-mobile img{
        width:65%;
        filter: drop-shadow(15px 25px 20px rgba(38, 48, 73, 0.459));
        border-radius: 5px;
    }

  
    .walley-vert-image-prototype-mobile{
        display: flex;
        width: 100%;
        height: 500px;
        justify-content: center;
        align-items: center;
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)30%);
        background-size: 320% 340%;
        background-position: 25% 15%;
    }
    .walley-vert-image-prototype-mobile img{
        width:85%;
        filter: drop-shadow(15px 25px 20px rgba(38, 48, 73, 0.459));
        border-radius: 5px;
    }
    
    /*<===============      ABOUT - SECTION - TABLET 1024    ===============================>*/
    /*<===============      ABOUT - SECTION - TABLET 1024    ===============================>*/

    .section-light-background{
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-about{
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        min-height: 700px;
        width: 90vw;
        max-width: 1440px;
        justify-content: top;
        margin-top: 120px;
        margin-bottom: 400px;
    }

    .text-box-container{
        display: flex;
        flex-direction: column;
        width:90vw;
    }

    h1 {
        background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            font-size: 2.8rem;
        line-height: 1.25;
        letter-spacing: -.5px;
        width: 90vw;
    }

    h2{
        color: rgb(19, 19, 19);
            font-size: 2.8rem;
        letter-spacing: -.5px;
        line-height: 1.1;
        width: 470px;
    }

    h4{
        margin-top: 35px;
            font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.5px;
        color: rgb(100, 103, 126);
        width: 370px;
    }


    .about-image-box-desktop{
        position: static;
        display: flex;
        justify-content: flex-end;    
        width: auto;
    }
    
    .tiles-desktop {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-right: -20px;
            margin-top: 270px;
    }
    
    .about-tiles-desktop {
        width: 400px;
    }

    .pancake-icon{
        position: absolute;
        display: flex;
        width: auto;
        margin-top: 360px;
        margin-right: 43vw;
        font-size: 10rem;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .about-image-box-mobile{
        display: none;
        justify-content: left;    
    }

    .pancake-icon-mobile{
        display: none;
        font-size: 10rem;
        margin-top: 130px;
        margin-left: 20px;
    }

        


    /*<===========      PORTFOLIO - SECTION -TABLET  1024    ===================================>*/
    /*<===========      PORTFOLIO - SECTION -TABLET  1024    ===================================>*/

    .section-dark-background-portfolio{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
        background-size: 220% 165%;
        background-position:70% 0%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-portfolio{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: center;
        margin-top: 170px;
        margin-bottom: 15vh;
    }

    .h2-light-text{
        color: white;
    }

    .h4-light-text{
        color: rgb(130, 157, 196);
        font-weight: 300;
    }

    .portfolio-grid{
        display: grid;
        justify-content: center;
        column-gap: 4vw;
        grid-template-columns: 26vw 26vw 26vw;
        grid-template-rows: 22vw;
        margin-top: 10vw;
    }

    .portfolio-grid-image{
        background-color: white;
        border-radius: 4px;
        width:26vw;
        height:26vw;
    }




    /*<===================      APPLICATIONS - SECTION - TABLET  1024    ===========================>*/
    /*<===================      APPLICATIONS - SECTION - TABLET  1024    ===========================>*/

    .section-dark-background-applications{
            background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
            background-size: 420% 225%;
            background-position:31% 15%;
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-applications{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 120px;
            margin-bottom: 120px;
    }

    .grid-container{
        display: flex;;
        justify-content: center;
    }


    .applications-grid{
        display: grid;
        justify-content: center;
        align-items: left;
            margin-top: 140px;
            grid-template-columns: 65px 65px 65px;
            column-gap: 17vw;
            grid-template-rows: 20vh 20vh 20vh 20vh;
    }

    .applications-grid-image{
        border-radius: 2px;
            width: 65px;
            height: 65px;
    }


    /*<===============      CONTACT - SECTION - TABLET  1024   ===============================>*/
    /*<===============      CONTACT - SECTION - TABLET  1024   ===============================>*/

    .section-container-contact{
        position: relative;
        display: flex;
            flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 140px;
            margin-bottom: 200px;
    }

    .contact-wrapper-text{
        display: flex;
        flex-direction: column;
        width:35%;
    }
    
    .contact-wrapper-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .hola-box{
        width:46vw;
        min-width: 300px;
        max-width: 670px;
    }

    .contact-list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 450px;
        margin-top: -30vh;
        margin-left:45vw;
        background-color: white;
        border: rgb(167, 167, 167);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        list-style: none;
        padding:30px;
        justify-content: center;
        align-items: left;
        font-size: 1.2rem;
        filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
    }

    .contact-list a{
        display: flex;
        width: auto;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgb(100, 103, 126);
        line-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contact-list img{
        width: 38px;
        vertical-align: middle;
        margin-right: 25px
    }


    /*<===================      FOOTER - SECTION - TABLET  1024    ===================================>*/
    /*<===================      FOOTER - SECTION - TABLET  1024    ===================================>*/

    .section-light-background-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: auto;
        background-color: rgb(238, 238, 238);
    }

    .section-container-footer{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
            padding-top: 70px;
        margin-bottom: 20px;
        margin-left: 5vw;
        margin-right: 5vw;
        color: rgb(83, 87, 110);
    }

    .footer-col-logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }

    h3{
        color: rgb(19, 19, 19);
        font-weight: 700;
        font-size: 1.5rem;
    }

    .footer-li-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }


    .footer-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-li-container ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-left: 0vw;
        padding-right: 0vw;
        align-items: center;
    }

    .footer-li-container li{
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 18px;
    } 

    .footer-social-icons{
        margin-top: 35px;
    }

    .footer-social-icons li{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        margin-left: 10px;
    }

    .footer-social-icons-image{
        height: 28px;
        padding: 2px;
        vertical-align: middle;
    }

    .footer-social-icons-image-gmail{
        margin-top: 0px;
        height: 28px;
        padding: 3px;
        vertical-align: baseline;
    }

    .footer-social-icons-image-discord{
        margin-top: 2px;
        height: 28px;
        padding: 0px;
        vertical-align: baseline;
    }

    /*<=================       FOOTER BASE TABLET  1024    ==========================>*/

    .footer-base{
        display: flex;
        flex-direction: row;
        height: 50px;
        background-color: rgb(231, 231, 231);
        align-items: center;
        justify-content: center;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .footer-base-text{
        color: rgb(83, 87, 110);
        font-size: .8rem;
        margin-right: 10px;
    }


}
        

/*<=================       768PX      ==========================>*/

@media screen and (max-width: 768px) {

  

    /*<===============      LANDING - SECTION - 768     ===============================>*/
    /*<===============      LANDING - SECTION - 768     ===============================>*/
    
    .section-landing-background{
        background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
        background-size: 380% 360%;
        background-position: 27% 30%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
        min-height: 800px;
        padding-top: 20px;
    }
    
    .section-container-landing{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 800px;
        width: 90vw;
        max-width: 1440px;
    }
    
    nav{
        padding-top: 0px;
    }

    .nav-link{
        display: none;
    }

    .landing-content-wrapper{
            margin-top: 250px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .landing-heading{
            font-size: 3.4rem;
        color: rgb(255, 255, 255);
        font-weight: 700;
        margin-bottom: 15px;
    }
    
    .landing-text p{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        list-style: none;
        color: rgb(125, 155, 201);
            font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.7;
        width: 75vw;
    }
    
    .section-img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    
    .landing-section-image{
        position: relative;
            margin-top: 70px;
        width: 80vw;
        max-width: 800px;
            height: 360px;
        background-image: url(images/radamcode.png);
        background-size: cover;
        border-radius: 5px;
        filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
    }
    

    /*<===============      ABOUT - SECTION - 768     ===============================>*/
    /*<===============      ABOUT - SECTION - 768     ===============================>*/

    .section-light-background{
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: 1300px;
    }

    .section-container-about{
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: top;
        margin-top: 100px;
        margin-bottom: 300px;
    }

    .text-box-container{
        display: flex;
        flex-direction: column;
        width:90vw;
    }

    h1 {
        background: linear-gradient(to right, #6d0bc9 0%, #0097bd 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
            font-size: 2.8rem;
        line-height: 1.25;
        letter-spacing: -.5px;
        width: 70vw;
    }

    h2{
        color: rgb(19, 19, 19);
            font-size: 2.8rem;
        letter-spacing: -.5px;
        line-height: 1.1;
        width: 350px;
    }

    h4{
        margin-top: 35px;
            font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.7;
        letter-spacing: -0.5px;
        color: rgb(100, 103, 126);
        width: 330px;
    }


    .about-image-box-desktop{
        position: static;
        display: flex;
        justify-content: flex-end;    
        width: auto;
    }
    
    .tiles-desktop {
        position: absolute;
        display: flex;
        justify-content: center;
        margin-right: -10vw;
            margin-top: 370px;
    }
    
    .about-tiles-desktop {
        width: 50vh;
        max-width: 400px;
    }

    .pancake-icon{
        position: absolute;
        display: flex;
        width: auto;
        margin-top: 300px;
        margin-right: 43vw;
        font-size: 9rem;
        justify-content: center;
        align-items: center;
        margin-right: 100px;
    }

    .about-image-box-mobile{
        display: none;
        justify-content: left;    
    }

    .pancake-icon-mobile{
        display: none;
        font-size: 10rem;
        margin-top: 130px;
        margin-left: 20px;
    }

        


    /*<===========      PORTFOLIO - SECTION -768      ===================================>*/
    /*<===========      PORTFOLIO - SECTION -768      ===================================>*/

    .section-dark-background-portfolio{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
        background-size: 380% 225%;
        background-position:74% 45%;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-portfolio{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: center;
        margin-top: 120px;
        margin-bottom: 10vh;
    }

    .h2-light-text{
        color: white;
    }

    .h4-light-text{
        color: rgb(130, 157, 196);
        font-weight: 300;
    }

    .portfolio-grid{
        display: grid;
        justify-content: center;
        row-gap: 15vw;
        grid-template-columns: 260px;
        grid-template-rows: 260px 260px 260px;
        margin-top: 150px;
    }

    .portfolio-grid-image{
        background-color: white;
        border-radius: 4px;
        width:260px;
        height:260px;
    }




    /*<===================      APPLICATIONS - SECTION - TABLET      ===========================>*/
    /*<===================      APPLICATIONS - SECTION - TABLET      ===========================>*/

    .section-dark-background-applications{
            background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
            background-size: 420% 275%;
            background-position:38% 20%;
        display: inline-flex;
        justify-content: center;
        width: 100vw;
        height: auto;
    }

    .section-container-applications{
        position: relative;
        display: flex;
        flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-between;
            margin-top: 120px;
            margin-bottom: 0vh;
    }

    .grid-container{
        display: flex;;
        justify-content: center;
    }


    .applications-grid{
        display: grid;
        justify-content: center;
        align-items: center;
            margin-top: 100px;
            grid-template-columns: 65px 65px 65px;
            column-gap: 20vw;
            row-gap: 90px;
            grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
    }

    .applications-grid-image{
        border-radius: 2px;
            width: 65px;
            height: 65px;
    }


    /*<===============      CONTACT - SECTION - 768     ===============================>*/
    /*<===============      CONTACT - SECTION - 768     ===============================>*/

    .section-container-contact{
        position: relative;
        display: flex;
            flex-direction: column;
        height: auto;
        width: 90vw;
        max-width: 1440px;
        justify-content: space-around;
            margin-top: 40px;
            margin-bottom: 240px;
    }

    .contact-wrapper-text{
        display: flex;
        flex-direction: column;
        width:35%;
    }
    
    .contact-wrapper-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }

    .hola-box{
        width:46vw;
        min-width: 300px;
        max-width: 670px;
    }

    .contact-list{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 450px;
        margin-top: 7vh;
        margin-left: 0vw;
        background-color: white;
        border: rgb(167, 167, 167);
        border-style: solid;
        border-width: 1px;
        border-radius: 4px;
        list-style: none;
        padding:30px;
        justify-content: top;
        align-items: left;
        font-size: 1.2rem;
        filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
    }

    .contact-list a{
        display: flex;
        width: auto;
        flex-direction: row;
        text-decoration: none;
        font-size: 1.4rem;
        color: rgb(100, 103, 126);
        line-height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contact-list img{
        width: 38px;
        vertical-align: middle;
        margin-right: 25px
    }


    /*<===================      FOOTER - SECTION - 768      ===================================>*/
    /*<===================      FOOTER - SECTION - 768      ===================================>*/


/*<=================       375PX      ==========================>*/

@media screen and (max-width: 375px) {

        
/*<===============      LANDING - SECTION - MOBILE     ===============================>*/
/*<===============      LANDING - SECTION - MOBILE     ===============================>*/

.section-landing-background{
    background: radial-gradient( rgba(25, 105, 151, 0.952)0%, rgb(2, 6, 22)22%);
    background-size: 380% 360%;
    background-position: 27% 30%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-top: 20px;
}

.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 90vw;
    margin-bottom: 100px;
    max-width: 1440px;
}

nav{
    padding-top: 0px;
}

.nav-link{
    display: none;
}

.section-landing-background{
    background: radial-gradient( rgba(7, 63, 95, 0.952)10%, rgb(2, 6, 22)32%);
    background-size: 190% 260%;
    background-position: 7% 10%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 20px;
}

.section-container-landing{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 90vw;
    max-width: 1440px;
}

.landing-content-wrapper{
        margin-top: 20vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.landing-heading{
        font-size: 2.5rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-bottom: 15px;
}

.landing-text p{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    list-style: none;
    color: rgb(125, 155, 201);
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6;
    width: 75vw;
    letter-spacing: -0.5px;
}

.section-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.landing-section-image{
    position: relative;
    display: flex;
    margin-top: 40px;
    width: 80vw;
    height: 500px;
    max-width: 800px;
    background-image: url(images/radamcode.png);
    background-size: cover;
    border-radius: 5px;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.821));
}

/*<===============      ABOUT - SECTION - MOBILE     ===============================>*/
/*<===============      ABOUT - SECTION - MOBILE     ===============================>*/

.section-light-background{
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-about{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.text-box-container{
    display: flex;
    flex-direction: column;
    width:90vw;
}

h1 {
    background: linear-gradient(to right, #0941aa 0%, #09b1db 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
        font-size: 2.4rem;
    line-height: 1.25;
    letter-spacing: -.5px;
    width: 90vw;
}

h2{
    color: rgb(19, 19, 19);
        font-size: 2.4rem;
    letter-spacing: -.5px;
    line-height: 1.1;
    width: 90vw;
}

h4{
    margin-top: 35px;
        font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8;
    letter-spacing: -0.5px;
    color: rgb(100, 103, 126);
    width: 270px;
}


.about-image-box-desktop{
    display: none;
}

.tiles-desktop {
    display: none;
}

.about-tiles-desktop {
    display: none;
}

.tiles-mobile {
    display: none;
}

.pancake-icon{
    display: none;
}

.about-image-box-mobile{
    display: flex;
    justify-content: left;    
}

.pancake-icon-mobile{
    display: flex;
    font-size: 7rem;
    margin-top: 60px;
    margin-left: 20px;
}   


/*<===========      PORTFOLIO - SECTION      ===================================>*/
/*<===========      PORTFOLIO - SECTION      ===================================>*/

.section-dark-background-portfolio{
    background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)15%);
    background-size: 420% 125%;
    background-position:55% 05%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 370px;
}

.h2-light-text{
    color: white;
}

.h4-light-text{
    color: rgb(130, 157, 196);
    font-weight: 500;
}

.portfolio-grid{
    display: grid;
    justify-content: center;
    row-gap: 260px;
    grid-template-columns: 250px;
    grid-template-rows: 50px 50px 50px;
    margin-top: 140px;
}

.portfolio-grid-image{
    background-color: white;
    border-radius: 4px;
    width:250px;
    height:250px;
}


/*<===================      APPLICATIONS - SECTION      ===========================>*/
/*<===================      APPLICATIONS - SECTION      ===========================>*/

.section-dark-background-applications{
        background: radial-gradient( rgba(7, 63, 95, 0.952)0%, rgb(2, 6, 22)14%);
        background-size: 420% 225%;
        background-position:31% 15%;
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.section-container-applications{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 220px;
}

.grid-container{
    display: flex;
    justify-content: center;
}


.applications-grid{
    display: grid;
    justify-content: center;
        margin-top: 140px;
        grid-template-columns: 65px 65px;
        column-gap: 20vw;
        grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh;
}

.applications-grid-image{
    border-radius: 2px;
        width: 55px;
        height: 55px;
}


/*<===============      CONTACT - SECTION - MOBILE     ===============================>*/
/*<===============      CONTACT - SECTION - MOBILE     ===============================>*/

.section-container-contact{
    position: relative;
    display: flex;
        flex-direction: column;
    height: auto;
    width: 90vw;
    max-width: 1440px;
    justify-content: space-between;
        margin-top: 15vh;
        margin-bottom: 30vh;
}

.contact-wrapper-text{
    display: flex;
    flex-direction: column;
    width:35%;
}

.contact-wrapper-list{
    display: flex;
    flex-direction: column;
    width:100%;
}

.hola-box{
    width:46vw;
    min-width: 300px;
    max-width: 670px;
}

.contact-list{
    position: static;
        display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    height: auto;
            margin-top: 90px;
        margin-left:0px;
        margin-right:0px;
    background-color: white;
    border: rgb(167, 167, 167);
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    list-style: none;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    filter: drop-shadow(5px 5px 10px rgb(153, 153, 153));
}

.contact-list a{
    display: flex;
    width: auto;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(100, 103, 126);
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-list img{
    width: 38px;
    vertical-align: middle;
    margin-right: 25px
}


/*<===================      FOOTER - SECTION      ===================================>*/
/*<===================      FOOTER - SECTION      ===================================>*/


}